:root {
	--color-principal: #233946;
	--color-secundario: #213745;
	--color-terciario: #046f7a;
	--color-cool: #272b2e;
}
body {
	font-family: 'Indie Flower', sans-serif;
	font-style: normal;
	margin: 0px;
}
img {
	object-fit: cover;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Kulim Park', sans-serif;
	font-weight: normal;
	font-style: italic;
}

h1 {
	font-size: 45px;
	line-height: 1.5;
	letter-spacing: -0.2px;
	text-transform: capitalize;
	color: white;
	line-height: 1.1;
	margin: 0;
	padding: 0px 5px;
}
h1 strong {
	color: cadetblue;
}
h2 {
	color: cadetblue;
	text-transform: uppercase;
}
.header {
	background-color: var(--color-principal);
	color: white;
	margin: 0px 0px;
	display: flex;
	height: 50px;
	justify-content: space-between;
	align-items: center;
}
.header a {
	color: white;
	text-decoration: none;
	display: flex;
	height: inherit;
	align-items: center;
	padding: 0px 10px;
}
.header a:hover {
	color: #dddddd;
}
.header-menu {
	height: inherit;
}
.header-menu ol {
	display: flex;
	list-style: none;
	height: inherit;
	margin: 0px;
	padding: 0px;
	align-items: center;
}
.header-menu li {
	height: inherit;
	display: flex;
	align-items: center;
}
.header-image {
	width: 30px;
	height: 30px;
	object-fit: cover;
}
.header-image-container {
	display: flex;
	align-items: center;
	margin: 0px;
	height: inherit;
}
.hero {
	height: 200px;
	background-image: url(../img/wallpaper.jpg);
	background-color: var(--color-cool);
	background-size: 500px 200px;
	background-repeat: no-repeat;
	background-position-x: right;
	margin: 0px 0px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.portfolio {
	background-color: #fafafa;
	margin: 0px 0px;
	padding: 20px;
}
.project {
	display: flex;
	border: 5px solid #233946;
	border-radius: 10px;
	margin-bottom: 25px;
	background-color: lightblue;
	/* box-sizing: border-box; */
}
.project-details {
	width: 500px;
	padding: 5px 15px;
	text-align: justify;
}
.project-image-container {
	width: 120px;
	height: 120px;
}
.project-image {
	width: 100px;
	height: 100px;
}
.portfolio h2 {
	margin: 0px;
	padding-bottom: 10px;
	margin-top: 0px;
}
.footer {
	display: flex;
	color: #ffffff;
	background-color: var(--color-cool);
	align-items: center;
	justify-content: space-between;
}
.footer img {
	width: 100px;
	height: 100px;
	vertical-align: middle;
	margin: 0px -20px;
}
.footer a {
	color: #ffffff;
}
.footer span {
	position: relative;
}
